<a href="https://colab.research.google.com/github/ABChaeeun/ITB_Project/blob/main/20%2C30%EB%8C%80_%EB%8C%80%EC%97%AC%EC%86%8C%EB%B3%84_%EB%B9%84%EC%9C%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 7 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (9,190 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 124015 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [31]:
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [32]:
from google.colab import drive
drive.mount('/content/drive')

bike = pd.read_excel("/content/drive/My Drive/Colab Notebooks/ITB/용산구16.xlsx")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
bike['성별'] = np.where(bike['성별'] == 'm', 'M', bike['성별'])
bike['성별'] = np.where(bike['성별'] == 'f', 'F', bike['성별'])

In [34]:
bike['운동량'] = np.where(bike['운동량'] == r'\N', np.nan, bike['운동량'])

In [35]:
bike= bike.dropna()

In [36]:
bike['월'] = np.where(bike['대여일자'] == '2022-01-01', '1월',
                     np.where(bike['대여일자'] == '2022-02-01', '2월',
                               np.where(bike['대여일자'] == '2022-03-01', '3월',
                                         np.where(bike['대여일자'] == '2022-04-01', '4월',
                                                   np.where(bike['대여일자'] == '2022-05-01', '5월', '6월')))))

In [37]:
bike['역주변'] = bike['대여소명'].str.contains('역')

In [43]:
bike['학교주변'] = bike['대여소명'].str.contains('학교|여대')

In [67]:
bike

,대여일자,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분),월,역주변,학교주변
0,2022-01-01,800,800. 목월공원 앞,단체,M,40대,2,176.71,1.38,5949.60,120,1월,False,False
1,2022-01-01,800,800. 목월공원 앞,일일(비회원),\N,기타,2,120.28,1.08,4672.74,58,1월,False,False
2,2022-01-01,800,800. 목월공원 앞,일일(회원),\N,10대,6,535,4.34,18764.02,570,1월,False,False
3,2022-01-01,800,800. 목월공원 앞,일일(회원),\N,20대,14,1097.91,9.42,40631.75,379,1월,False,False
4,2022-01-01,800,800. 목월공원 앞,일일(회원),\N,30대,5,178.77,1.51,6497.15,140,1월,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22456,2022-06-01,4639,4639. 동빙고근린공원,정기,M,30대,8,686.79,5.67,24405.69,344,6월,False,False
22457,2022-06-01,4639,4639. 동빙고근린공원,정기,M,40대,15,2900.89,22.47,96820.20,566,6월,False,False
22458,2022-06-01,4639,4639. 동빙고근린공원,정기,M,50대,9,1600.71,14.41,62087.24,459,6월,False,False
22459,2022-06-01,4639,4639. 동빙고근린공원,정기,M,60대,1,37.39,0.32,1388.41,9,6월,False,False
22460,2022-06-01,4639,4639. 동빙고근린공원,정기,M,기타,3,374.98,2.72,11740.54,106,6월,False,False

In [53]:
bike_n = bike.groupby ('대여소명', as_index = False)\
 .agg (n = ('이용건수','sum')).sort_values('n', ascending=False)
bike_n

                   대여소명      n
76          853.용산역 맞은편  20978
89         870.노들섬 서측 앞  17806
50     825. 서빙고동 주민센터 앞  15120
61        837. 한남나들목 입구  11997
54           829. 베르가모앞  11932
..                  ...    ...
85          865.하얏트호텔 앞    492
26   4636. 용산구꿈나무종합타운 앞    486
29        4639. 동빙고근린공원    292
28       4638. 청파동삼거리 앞    199
27  4637. 용산시티파크 101동 앞    152

[90 rows x 2 columns]

In [56]:
bike_n['역주변'] = bike['대여소명'].str.contains('역')
bike_n

                   대여소명      n    역주변
76          853.용산역 맞은편  20978  False
89         870.노들섬 서측 앞  17806  False
50     825. 서빙고동 주민센터 앞  15120   True
61        837. 한남나들목 입구  11997   True
54           829. 베르가모앞  11932    NaN
..                  ...    ...    ...
85          865.하얏트호텔 앞    492  False
26   4636. 용산구꿈나무종합타운 앞    486  False
29        4639. 동빙고근린공원    292  False
28       4638. 청파동삼거리 앞    199  False
27  4637. 용산시티파크 101동 앞    152  False

[90 rows x 3 columns]

#2030건수, 비율

In [91]:
#20대 대여소 이용건수
bike_n20 = bike.query ('연령대코드 == "20대"').groupby ('대여소명', as_index = False)\
 .agg (n_20 = ('이용건수','sum')).sort_values('n_20', ascending=False)
bike_n20

                   대여소명  n_20
76          853.용산역 맞은편  8204
89         870.노들섬 서측 앞  7753
50     825. 서빙고동 주민센터 앞  4746
45     818. 숙명여대 입구 교차로  4665
54           829. 베르가모앞  4427
..                  ...   ...
81     859.남산공원 야외식물원 앞   147
26   4636. 용산구꿈나무종합타운 앞   137
29        4639. 동빙고근린공원   121
27  4637. 용산시티파크 101동 앞    51
28       4638. 청파동삼거리 앞    48

[90 rows x 2 columns]

In [92]:
#30대 대여소 이용건수 
bike_n30 =bike.query ('연령대코드 == "30대"').groupby ('대여소명', as_index = False)\
 .agg (n_30 = ('이용건수','sum')).sort_values('n_30', ascending=False)
bike_n30

                   대여소명  n_30
76          853.용산역 맞은편  5892
50     825. 서빙고동 주민센터 앞  3742
89         870.노들섬 서측 앞  3597
61        837. 한남나들목 입구  3439
54           829. 베르가모앞  3220
..                  ...   ...
81     859.남산공원 야외식물원 앞   141
85          865.하얏트호텔 앞   116
28       4638. 청파동삼거리 앞    66
29        4639. 동빙고근린공원    56
27  4637. 용산시티파크 101동 앞    35

[90 rows x 2 columns]

In [93]:
#2030대 대여소 이용건수
bike_n2030 = bike.query ('연령대코드 == "30대" or 연령대코드 == "20대"').groupby ('대여소명', as_index = False)\
 .agg (n_2030 = ('이용건수','sum')).sort_values('n_2030', ascending=False)
bike_n2030

                   대여소명  n_2030
76          853.용산역 맞은편   14096
89         870.노들섬 서측 앞   11350
50     825. 서빙고동 주민센터 앞    8488
54           829. 베르가모앞    7647
61        837. 한남나들목 입구    7376
..                  ...     ...
81     859.남산공원 야외식물원 앞     288
85          865.하얏트호텔 앞     282
29        4639. 동빙고근린공원     177
28       4638. 청파동삼거리 앞     114
27  4637. 용산시티파크 101동 앞      86

[90 rows x 2 columns]

In [96]:
#총 이용건수 : 2030대 이용건수
bike_nn = pd.merge(bike_n,bike_n2030)

In [98]:
bike_nn['비율'] = bike_nn['n_2030']/bike_nn['n']
bike_nn

                   대여소명      n    역주변  n_2030        비율
0           853.용산역 맞은편  20978  False   14096  0.671942
1          870.노들섬 서측 앞  17806  False   11350  0.637426
2      825. 서빙고동 주민센터 앞  15120   True    8488  0.561376
3         837. 한남나들목 입구  11997   True    7376  0.614820
4            829. 베르가모앞  11932    NaN    7647  0.640882
..                  ...    ...    ...     ...       ...
85          865.하얏트호텔 앞    492  False     282  0.573171
86   4636. 용산구꿈나무종합타운 앞    486  False     318  0.654321
87        4639. 동빙고근린공원    292  False     177  0.606164
88       4638. 청파동삼거리 앞    199  False     114  0.572864
89  4637. 용산시티파크 101동 앞    152  False      86  0.565789

[90 rows x 5 columns]

In [81]:
bike_nn.sort_values('비율', ascending=False)

                        대여소명     n    역주변  n_2030        비율
22          817. 삼각지역 4번출구 앞  6073   True    4752  0.782480
18            849. 삼각지 자이아파트  6636  False    4905  0.739150
82        4612. 한남 준 J.FSS 앞   854  False     624  0.730679
66      4602. 숙명여대앞 버스정류소 주변  1752  False    1253  0.715183
26            813. 삼각지역 3번출구  5611   True    4005  0.713777
..                       ...   ...    ...     ...       ...
32           836. 현대자동차서비스 앞  5139   True    2420  0.470909
69                827. 국군복지단  1698   True     788  0.464075
79          4617. 동원베네스트 건너편   990  False     424  0.428283
70  4632. 용산 푸르지오 파크타운 1단지 앞  1679  False     696  0.414532
60             830. 청암자이아파트앞  2075    NaN     763  0.367711

[90 rows x 5 columns]

In [89]:
#총이용건수 중 2030 이용건수 비율_상위
bike_nn.sort_values('비율', ascending=False).head(20)

                        대여소명      n    역주변  n_2030        비율
22          817. 삼각지역 4번출구 앞   6073   True    4752  0.782480
18            849. 삼각지 자이아파트   6636  False    4905  0.739150
82        4612. 한남 준 J.FSS 앞    854  False     624  0.730679
66      4602. 숙명여대앞 버스정류소 주변   1752  False    1253  0.715183
26            813. 삼각지역 3번출구   5611   True    4005  0.713777
50       4627. 효창공원앞역 5번출구 옆   3075    NaN    2167  0.704715
73            831. 이태원관광특구입구   1485    NaN    1037  0.698316
36              810. 이태원지하보도   4443   True    3099  0.697502
64             858.녹사평역3번 출구   1847  False    1257  0.680563
76            4613. 서울갤러리아 앞   1352  False     918  0.678994
7           816. 신용산역 6번출구 앞   9538   True    6472  0.678549
40             811. 녹사평역1번출구   3810    NaN    2582  0.677690
80           854.HID 유족동지회 앞    972  False     658  0.676955
0                853.용산역 맞은편  20978  False   14096  0.671942
48          4634. 이태원역 3번 출구   3128  False    2086  0.666880
35              843. 녹사평역 광장   4558   True    3022  0.663010
56              863.이촌역2번 출구   2405  False    1585  0.659044
86        4636. 용산구꿈나무종합타운 앞    486  False     318  0.654321
27             828. 숙대입구역 8번   5478   True    3584  0.654253
31  4620. 삼각지역 14번 출구 앞(교통섬)   5349  False    3499  0.654141

In [100]:
#총이용건수 중 2030 이용건수 비율_하위
bike_nn.sort_values('비율').head(10)

                        대여소명     n    역주변  n_2030        비율
60             830. 청암자이아파트앞  2075    NaN     763  0.367711
70  4632. 용산 푸르지오 파크타운 1단지 앞  1679  False     696  0.414532
79          4617. 동원베네스트 건너편   990  False     424  0.428283
69                827. 국군복지단  1698   True     788  0.464075
32           836. 현대자동차서비스 앞  5139   True    2420  0.470909
11       815. LIG강촌아파트 103동앞  8014   True    3783  0.472049
83              847. 국방부민원실옆   826  False     392  0.474576
43           4618. 풍전아파트 건너편  3408  False    1620  0.475352
65             851.효창 푸르지오 앞  1840  False     892  0.484783
15          832. 이촌1동 주민센터 뒤  7067    NaN    3472  0.491298

In [59]:
#전체 이용건수 총합 중 역주변 이용건수
bike_n.groupby ('역주변', as_index = False)\
 .agg (n = ('n','sum')).sort_values('n', ascending=False)

     역주변       n
1   True  185802
0  False  182687

In [109]:
#역주변 이용건수 
bike_sn =bike.query ('역주변 == True').groupby ('대여소명', as_index = False)\
 .agg (n = ('이용건수','sum')).sort_values('n', ascending=False)

In [111]:
#역주변 2030대 이용건수 
bike_sn2030 = bike.query ('역주변 == True and (연령대코드 == "20대" or 연령대코드 =="30대")' ).groupby ('대여소명', as_index = False)\
 .agg (n_2030 = ('이용건수','sum')).sort_values('n_2030', ascending=False)

In [114]:
bike_snn = pd.merge(bike_sn,bike_sn2030)
bike_snn['비율'] = bike_snn['n_2030']/bike_nn['n']
bike_snn

                        대여소명      n  n_2030        비율
0                853.용산역 맞은편  20978   14096  0.671942
1            841. 신용산역 1번 출구  10553    6220  0.349320
2           816. 신용산역 6번출구 앞   9538    6472  0.428042
3            838. 숙대입구역 4번출구   9090    5227  0.435692
4         834. 효창공원앞역 3번출구 뒤   8210    4755  0.398508
5            826. 서울역 서부교차로2   7338    4033  0.382166
6               835. 남영역 건너편   6261    3977  0.378942
7           817. 삼각지역 4번출구 앞   6073    4752  0.498218
8          807. 서울역 12번 출구 앞   5791    3310  0.356950
9             813. 삼각지역 3번출구   5611    4005  0.440594
10             828. 숙대입구역 8번   5478    3584  0.436541
11  4620. 삼각지역 14번 출구 앞(교통섬)   5349    3499  0.436611
12              843. 녹사평역 광장   4558    3022  0.386396
13             811. 녹사평역1번출구   3810    2582  0.348260
14          4634. 이태원역 3번 출구   3128    2086  0.284274
15       4627. 효창공원앞역 5번출구 옆   3075    2167  0.306636
16         802. 한강진역 2번 출구 앞   2540    1593  0.236772
17              863.이촌역2번 출구   2405    1585  0.238238
18         867.서빙고역 광장(1번출구)   2157    1166  0.175708
19             858.녹사평역3번 출구   1847    1257  0.198672
20             855.이촌역5번출구 앞   1100     687  0.109727

In [117]:
#역주변 총이용건수 중 2030 이용건수 비율_상위
bike_snn.sort_values('비율', ascending=False).head(5)

                        대여소명      n  n_2030        비율
0                853.용산역 맞은편  20978   14096  0.671942
7           817. 삼각지역 4번출구 앞   6073    4752  0.498218
9             813. 삼각지역 3번출구   5611    4005  0.440594
11  4620. 삼각지역 14번 출구 앞(교통섬)   5349    3499  0.436611
10             828. 숙대입구역 8번   5478    3584  0.436541

In [104]:
#학교주변 총이용건수 
bike.query ('학교주변 == True').groupby ('대여소명', as_index = False)\
 .agg (n = ('이용건수','sum')).sort_values('n', ascending=False)

                   대여소명      n
2      818. 숙명여대 입구 교차로  10495
3       819. 선린인터넷 고등학교   7414
4            846. 용산중학교   6728
1   4622. 한강중학교 앞 버스정류장   1929
0  4602. 숙명여대앞 버스정류소 주변   1752

In [48]:
#학교주변 이용건수 
bike.query ('학교주변 == True and 연령대코드 == "20대"' ).groupby ('대여소명', as_index = False)\
 .agg (n = ('이용건수','sum')).sort_values('n', ascending=False)

                   대여소명     n
2      818. 숙명여대 입구 교차로  4665
3       819. 선린인터넷 고등학교  2575
4            846. 용산중학교  2135
0  4602. 숙명여대앞 버스정류소 주변   854
1   4622. 한강중학교 앞 버스정류장   603